<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Admin Page</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="/css/user.css">

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body class="sb-nav-fixed" style="overflow-x: hidden">
        <%- include('../admin/navbar.ejs') %>

        <div id="layoutSidenav">

            <!-- Sidebar  -->
            <%- include('../admin/sidebar.ejs') %>

            <div id="layoutSidenav_content">
                <main>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-box clearfix ">
                                <div class="table-responsive">
                                    <table class="table user-list">

                                        <thead>
                                            <tr>
                                                <th><span>Username</span></th>
                                                <th><span>Sex</span></th>

                                                <th><span>Date birth</span></th>
                                                <th><span>Email</span></th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < userList.rowCount; i++) { %>
                                                <tr>
                                                    <td>
                                                        <p><%- userList.rows[i].username %><p>
                                                    </td>
                                                        <% if(userList.rows[i].sex.trim() == 'Nam'){ %>
                                                        <td>Male</td>
                                                        <% } else{ %>
                                                        <td>Female</td>
                                                        <% } %>
                                                    <td>
                                                        <%= moment(userList.rows[i].datebirth).format('YYYY-MM-DD') %>
                                                    </td>
                                                    <td>
                                                        <%- userList.rows[i].email %>
                                                    </td>
                                                    <td style="width: 20%;">
                                                        <a href="AdminViewUser/<%- userList.rows[i].username %>" class="table-link" style="text-decoration: none;" title="View Profile">
                                                            <span class="fa-stack">
                                                                <i class="fa-solid fa-eye"></i>
                                                            </span>
                                                        </a>
                                                        <form id="deleteForm_<%- userList.rows[i].username %>" action="/webtruyen/DeleteUser" method="POST" style="display: inline;">
                                                            <input type="hidden" name="delusername" value="<%- userList.rows[i].username %>">
                                                            <a href="#" class="table-link danger" style="text-decoration: none;" title="Delete Account"
                                                               onclick="return confirmDelete('<%- userList.rows[i].username %>');">
                                                                <span class="fa-stack">
                                                                    <i class="fa-solid fa-trash"></i>
                                                                </span>
                                                            </a>
                                                        </form>
                                                        
                                                    </td>
                                                </tr>
                                                 <% } %>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <!-- Footer -->
            
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
        <script>
                                                               window.addEventListener('DOMContentLoaded', event => {
                                                                   const sidebarToggle = document.body.querySelector('#sidebarToggle');
                                                                   if (sidebarToggle) {
                                                                       sidebarToggle.addEventListener('click', event => {
                                                                           event.preventDefault();
                                                                           document.body.classList.toggle('sb-sidenav-toggled');
                                                                           localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                                                                       });
                                                                   }

                                                               });
        </script>
<script>
    function confirmDelete(username) {
        if (confirm('Are you sure you want to delete the account: ' + username + '?')) {
            var formId = 'deleteForm_' + username; 
            document.getElementById(formId).submit();
        }
        return false;
    }
</script>


    </body>

</html>