<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Admin Page</title>
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="/css/user.css">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    </head>

    <body class="sb-nav-fixed" style="overflow-x: hidden">
      
        <%- include('../admin/navbar.ejs') %>
        <div id="layoutSidenav">

            <!-- Sidebar  -->
            <%- include('../admin/sidebar.ejs') %>

            <div id="layoutSidenav_content">
                <main>
                    <section>
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card mb-4">
                                        <div class="card-body text-center">
                                            <img src=""
                                                 alt="avatar" style="width: 90%; height: auto; object-fit: cover;">
                                            <h5 class="my-3"></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 ">
                                    <form action="UpdateBook" method="post" class="card mb-4">
                                        <input type="hidden" name="bookid" value="<%- bookinfo.book_id %>"/>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Name</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input style="width:70%" type="text" name="name" value="<%- bookinfo.book_name %>" />

                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Author</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input  name="author" type="text" value="<%- bookinfo.author %>" />
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">category</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <select name="category" id="category">
                                                        <option value="<%= bookinfo.category %>"><%= bookinfo.category_name %></option>
                                                        <% for (let i = 0; i < category.rowCount; i++) { %>
                                                          <%  if(category.rows[i].id === bookinfo.category) continue; %>
                                                            <option value="<%- category.rows[i].id %>"><%- category.rows[i].name %></option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Publisher</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input  name="publisher" type="text" value="<%- bookinfo.publisher %>"/>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Total quantity</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input  name="total" type="text" value="<%- bookinfo.total %>" />
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Current quantity</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input  name="current" type="text" value="<%- bookinfo.current %>"/>
                                                </div>
                                            </div>
                                            <input  name="avt" type="hidden" value=""/>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block" style="width: 25%">Update Book</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
        <script>
            window.addEventListener('DOMContentLoaded', event => {
                const sidebarToggle = document.body.querySelector('#sidebarToggle');
                if (sidebarToggle) {
                    sidebarToggle.addEventListener('click', event => {
                        event.preventDefault();
                        document.body.classList.toggle('sb-sidenav-toggled');
                        localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                    });
                }

            });
        </script>

    </body>

</html>